@media (max-width: 1200px) {
  nav ul {
    margin-left: 9rem;
  }
  .features {
    transform: translateY(-18%);
  }
}
@media (max-width: 992px) {
  nav ul {
    margin-left: 12rem;
  }
  .features {
    transform: translateY(-18%);
  }
  .eat img {
    transform: translate(45%, -40%);
  }
}
@media (max-width: 768px) {
  .logo {
    margin-left: 40%;
  }
  .responsive {
    margin-bottom: 10rem;
  }
  .menu nav ul {
    display: flex;
    margin-left: 10rem;
  }
  .titular {
    margin: 0 0 30rem 0;
  }
  .features {
    margin-bottom: -30%;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .eat {
    text-align: center;
  }
}
