

body{
	margin: 0;
	padding: 0;
	background: #f2f2f2;
	font-family: "Open Sans";
}
	

h1,h2,h3{
	margin: 0 auto;
}

section{
	padding-bottom: 80px;
}

button{
	outline: none;
}

/*СЕКЦИЯ MAIN*/
.main{
	background: url(img/slide_03.jpg)  no-repeat top;
 	-webkit-background-size: cover;
 	background-size: cover;
 	height: 100vh;
 	padding: 0;
}

.header{
	margin-top: 50px;
}

.menu ul{
	padding: 0;
	text-align: right;
}

.menu li{
	display: inline-block;
	padding: 8px 0 0 40px;
}

.menu a{
	text-decoration: none;
	color: white;
	transition: all 0.5s ease;
	font-size: 12px;
	text-transform: uppercase;

}

.menu a:hover{
	color: #a5ce8c;
	text-decoration: none;
}

.fa-bars{
	width: 35px;
	color: white;
	visibility: hidden;
	position: absolute;
}

.maininfo{
	text-align: center;
	color: white;
	margin-top: 35rem;
	padding: 0 20px;
}

.maininfo h2{
	font-size: 13px;
	font-weight: 400;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

.maininfo h1{
	font-size: 45px;
	font-weight: 800;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

.maininfo p{
	padding-top: 1.5rem;
	line-height: 30px;
}

button{
	margin-right: 18px;
	border: none;
	color: white;
	background: #a5ce8c;
	height: 4rem;
	padding: 0 15px;
	border-radius: 30px;
	cursor: pointer;
	font-size: 12px;
	font-weight: 700;
	transition: all 0.5s ease;
}


button:hover{
	background: #FFFFFF;
	color: #515151;
}

.menu_bar{
	background: #f2f2f2;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	width: 40%;
	transform: translateX(100%);
	z-index: 998;
}

.active_menu{
	transform: translateX(0%);
}

.menu_bar nav{
	margin: 10rem 1rem 0 0;
}

.menu_bar ul{
	padding: 0;
}

.menu_bar li{
	text-transform: uppercase;
	list-style-type: none;
}

.menu_bar a{
	color: #7E7E7E;
}

/*СЕКЦИЯ WHAT WE DO*/

.what_we_do h3{
	text-align: center;
	padding-top: 5rem;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
}

.what_we_do hr{
	border: none; 
    background-color: black; 
    height: 3px; 
    width: 65px;
}

.block {
	margin-top: 4.5rem;
	text-align: center;
	height: 240px;
	background: #F6F6F6;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	border-radius: 2px;
}

.block img{
	margin-top: 25px;
	margin-bottom: 15px;
}

.block h1{
	font-size: 12px;
	font-weight: 900
}

.block p{
	font-size: 13px;
	line-height: 22px;
	color: #7E7E7E;
	width: 200px;
	margin: 0 auto;
	padding-top: 25px;
}

/*ТРЕТЬЯ СЕКЦИЯ*/
.three{
	background: url(img/what-we-do-bg.png) no-repeat center ;
	-webkit-background-size: cover;
	background-size: cover;
}

.offers{
	color: white;
	padding-top: 5rem;
	}

.offers h1{
	font-size: 2rem;
	font-weight: 700;
	padding-bottom: 10px;
}

.offers p{
	padding-bottom: 15px;
	font-size: 13px;
}

.picture{
	margin-top: 6.5rem;
}

.picture img{
	max-width: 100%;
}

.discover_btn{
	margin-right: 1.5rem;
}


/*СЕКЦИЯ OUR_PORTFOLIO*/

.our_portfolio h3{
	text-align: center;
	padding-top: 5rem;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
}

.our_portfolio hr{
	border: none; 
    background-color: black; 
    height: 3px; 
    width: 65px;
}

.portfolio_menu a{
	color: #7E7E7E;
	transition: all 0.5s ease;
}

.portfolio_menu a:hover{
	color: #a5ce8c;
	text-decoration: none;
}

.portfolio_menu ul{
	padding: 0;
	margin-top: 60px;
	text-align: center;
}

.portfolio_menu li{
	display: inline-block;
}

.photos_min img{
	margin-top: 4rem;
	max-width: 100%;
}

.photos_max img{
visibility:hidden; 
position: absolute;
max-width: 50%;
margin-top: 20px;
}


/*СЕКЦИЯ blog_posts*/
.blog_posts{
	background: url(img/blog-bg.png);
	color: white;
}

.blog_posts h3{
	text-align: center;
	padding-top: 5rem;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
}

.blog_posts hr{
	background-color: #FFFFFF;
	border: none; 
    height: 3px; 
    width: 65px;
}

.blog_posts img{
	width: 100%;
}

.blog{
	margin-top: 3.5rem;
	text-align: center;
}

.big_blog{
	position: relative;
}

.black_title{
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 15px;
	text-align: left;
}

.black_title h1{
	font-size: 18px;
	font-weight: 600;
	margin-top: 8px;
	margin-bottom: 0;
}

.black_title p{
	font-size: 13px;
	margin: 0;
	padding-top: 15px;
	box-sizing: border-box;
}

.two{
	margin-top: 30px;
}

.min_blog{
	position: relative;
}

/*СЕКЦИЯ statistics*/

.tablets{
	margin-top: 80px;
	text-align: center;
}

.tab{
	text-align: center;
	background: #f5f5f5;;
	padding: 25px;
}

.tab p{
	color: #7E7E7E;
	margin-bottom: 0;
	margin-top: 5px;
	text-transform: uppercase;
	font-size: 14px;
}

.tab h1{
	margin-top: 10px;
	color: #a5ce8c;
	font-size: 23px;
	font-weight: 600;
}

/*СЕКЦИЯ contacts*/

.contacts{
	background: url(img/contact-bg.png);
}

.contacts h3{
	color: #FFFFFF;
	text-align: center;
	padding-top: 5rem;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;

}

.geo{

}

.contacts hr{
	background-color: #FFFFFF;
	border: none; 
    height: 3px; 
    width: 65px;
}

.contacts input{
	border: none;
	background: rgba(255, 255, 255 , 0.1);
	padding: 20px 15px;
	font-size: 13px;
	margin-right: 30px;
	width: 100%;
	color: white;
}

.contacts textarea{
	display: block;
	border: none;
	background: rgba(255, 255, 255 , 0.1);
	padding: 10px 15px;
	font-size: 13px;
	margin-top: 30px;
	font-family: "Open Sans";
	width: 100%;
	color: white;
	resize: none;
}

.contacts button{
	margin: 30px 0 ;
	color: #FFFFFF;
	text-transform: uppercase;
}

/*FOOTER*/

footer{
	padding-top: 50px;
	padding-bottom: 30px;
	background: #202528;
}

.green_cycle{
	background: #a5ce8c;
	display: inline-block;
	border-radius: 50%;
	padding: 15px;
	text-align: center;
	margin-left: 10px;
}

.social{
	text-align: right;
}

.ico{
	width: 20px;
	height: 20px;
}

.ico svg{
	color: white;
	max-width: 100%;
	max-height: 100%;
}

.design{
	text-align: left;
	color: #FFFFFF;
	font-size: 13px;
}

.design span{
	color: #bc3c3d
}

.design p{
	margin-top: 5px;
	margin-bottom: 0;
}

/*модальное окно*/

.modal_window{
	display: none;
}

.black_fon{
	background: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.modal_form h1{
	font-size: 18px;
    margin-bottom: 28px;
    line-height: 24px;
}

.modal_form {
	width: 350px;
	text-align: center;
	background: #FFFFFF;
	padding: 4rem 5rem;
	border-radius: 3px;
	background: #f2f2f2;
	position: fixed;
	transform: translateX(-50%);
	left: 50%;
	top: 15%;
}

.modal_form input{
display: block;
width: 100%;
padding: 1.7rem;
border-radius: 3px;
margin-top: 15px;
border: solid 2px #E0E0E0;
}

.modal_form textarea{
	width: 100%;
	border-radius: 3px;
	margin: 15px 0;
	border: solid 2px #E0E0E0;
	padding: 15px;
	resize: none;
}

.modal_btn{
	color: #FFFFFF;
	width: 100%;
}

.modal_btn:hover{
	background: #FFFFFF;
	color: #515151;
	border: solid 1px #747474;
}

.fa-times{
	width: 20px;
    color: white;
    position: absolute;
    right: -28px;
    top: 0;
    cursor: pointer;
}