body{
	margin: 0;
	padding: 0;
	background: #f2f2f2;
	font-family: "Open Sans";
}

h1,h2,h3{
	margin: 0 auto;
}

section{
	padding-bottom: 80px;
}

/*ПЕРВАЯ СЕКЦИЯ*/
.one{
	background: url(img/slide_03.jpg)  no-repeat top;
 	-webkit-background-size: cover;
 	background-size: cover;
    padding-bottom: 15rem;
}

.container{
	width: 1120px;
	margin: 0 auto;
}

nav{
	display: inline-block;
	padding-left: 47%;
	padding-top: 40px;
	text-transform: uppercase;
}

ul{
	margin: 0;	
}

a{
	text-decoration: none;
	color: white;
}

li{
	display: inline-block;
	font-size: 12px;
	padding-left: 25px;
}

.maininfo{
	text-align: center;
	color: white;
	margin-top: 15rem;
}

.maininfo h2{
	font-size: 13px;
	font-weight: 400;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

.maininfo h1{
	font-size: 45px;
	font-weight: 800;
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}

.maininfo p{
	line-height: 30px;
}

button{
	margin-right: 18px;
	border: none;
	color: white;
	background: #a5ce8c;
	height: 2.5rem;
	padding: 0 15px;
	text-transform: uppercase;
	border-radius: 30px;
	cursor: pointer;
	font-size: 12px;
	font-weight: 700;
	transition: all 0.5s ease;
}

button:hover{
	background: #FFFFFF;
	color: #515151;
}

/*ВТОРАЯ СЕКЦИЯ*/
.two{
	padding-bottom: 50px;
}

h3{
	text-align: center;
	padding-top: 5rem;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
}

hr{
	border: none; 
    background-color: black; 
    height: 3px; 
    width: 65px;
}

.blocks{
	text-align: center;
	margin-top: 30px;
}

.block {
	width: 245px;
	min-height: 240px;
	background: #F6F6F6;
	margin: 15px;
	display: inline-block;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	border-radius: 2px;
}

.block img{
	margin-top: 25px;
	margin-bottom: 15px;
}

.block h1{

	font-size: 12px;
	font-weight: 900
}

.block p{
	font-size: 13px;
	line-height: 22px;
	color: #7E7E7E;
	width: 200px;
	margin: 0 auto;
	padding-top: 25px;
}

/*ТРЕТЬЯ СЕКЦИЯ*/
.three{
	background: url(img/what-we-do-bg.png) no-repeat center ;
	-webkit-background-size: cover;
	background-size: cover;
	padding-bottom: 120px;
}


.offers{
	color: white;
	width: 50%;
	display: inline-block;
	margin-top: 5rem;
	}

.offers h1{
	font-size: 1.2rem;
	padding-bottom: 10px;
}

.offers p{
	padding-bottom: 15px;
	font-size: 13px;
}

.three img{
	width: 450px;
	padding-left: 4%;
	position: absolute;
	margin-top: 4rem;
}

/*ЧЕТВЕРТАЯ СЕКЦИЯ*/
.portfolio{
	display: block;
	padding: 0;
	text-align: center;
}

.portfolio a{
	color: #7E7E7E;
	transition: all 0.5s ease;
}

.portfolio a:hover{
	color: #a5ce8c;
}

.portfolio ul{
	padding: 0;
	margin-top: 65px;
}

.portfolio li:first-child {
	padding: 0;
}

.img_block{
	text-align: center;
	margin-top:52px ;
}

.img_block img{
	width: 260px;
	height: 225px;
	margin: 8px;
}

/*ПЯТАЯ СЕКЦИЯ*/
.five{
	background: url(img/blog-bg.png);
	color: white;
}

.five hr{
	background-color: #FFFFFF;
}
.blog{
	position: relative;
	display: inline-block;
	max-height: 470px;
}

.black_title{
	background: rgba(0, 0, 0, 0.5);
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 15px;
}

.black_title p{
	font-size: 13px;
	margin: 0;
	padding-top: 15px;
}
