<h1>{{head.title}}</h1>

<ul>

{{homepage.items}}

      <li><a href="google.com">{{homepage.title}}</a></li>
      <h3>{{homepage.data}}</h3>
       <p>{{homepage.artist}}</p>
       <div id="contener">
       {{homepage.artist}}
       </div>
</ul>