<!DOCTYPE html>

<html>

<head>
 <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

<style>
    p{color: blue}  
  body {
    background-color: lightblue;
}
</style>
</head>
<body>
      {{>homepage}}
   

</body>